div.jumbotron {
    background-color: pink;
}

div img.profile {
    margin-top: 30px;
}

.row {
    margin-top: 20px;
}

section.about {
    min-height: 250px;
}

section.social {
    background-color: rgb(255, 221, 227);
}
.ig-thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    overflow: hidden;
}

.ig-thumbnail img {
    width: 150px;
}

section.contact {
    background-color: rgb(255, 221, 227);
}

footer {
    margin-top: 30px;
}
